<!-- Componente raíz que maneja la estructura dividida (menú + contenido principal) -->
<ion-split-pane contentId="main-content">
  
  <!-- Definición del menú lateral izquierdo -->
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>Bienvenido a mi Pagina web</ion-list-header>
        <ion-note>Actividad Programacion 1</ion-note>

        <!-- Bucle estructural que recorre el arreglo appPages definido en el componente TS -->
        <!-- routerLink maneja el enrutamiento dinámico y routerLinkActive aplica estilos al menú seleccionado -->
        <ion-item routerLinkActive="selected" *ngFor="let p of appPages; let i = index" [routerLink]="[p.url]" detail="false" lines="none">
          <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Contenedor principal donde el RouterOutlet de Angular renderizará dinámicamente las vistas -->
  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
  
</ion-split-pane>


